.button{

    -fx-text-fill: white;

    -fx-border-color: #38B09D;
    -fx-border-width: 10px;

    -fx-background-color: black;

}

.button:hover{

    -fx-background-color: grey;
}

#lectureButton{
    -fx-padding: 0;
    -fx-font-size: 300;
}

#repertoireButton{
    -fx-padding: 0;
    -fx-font-size: 150;

}

#ajouterPartButton{
    -fx-font-size: 150;
    -fx-padding: 2;
}